# Ignorar arquivos e diretórios gerados pelo Maven
**/target/

# Ignorar arquivos de configuração específicos do IDE
**/.classpath
**/.project
**/.settings/
**/.idea/

# Ignorar arquivos gerados pelo Maven
**/*.iml
**/*.jar

# Ignorar arquivos gerados pelo Visual Studio Code
**/.vscode